{% extends 'base.html' %}

<title>
    {% block title %}Account{% endblock %}
</title>

<body>
    {% block main %}
    <img style="border-radius: 10px;" align="left"
    src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM="  width="300">

    <div class="add-margin" style="display: flex; margin-bottom: 0px;">
        <h1 style="text-align: left; white-space: nowrap; margin-bottom: 0px;"><b>{{ user["name"] }}</b></h1>
        <div style="margin-top: 8px; text-align: right; margin-bottom: 0px; border-radius: 100%;">
            <a href="/account/edit"><img class="hover-button" src="https://cdn-icons-png.flaticon.com/512/181/181540.png" style="width: 10%;"></a>
        </div>
    </div>

    <hr class="add-margin">

    <div class="add-margin" style="display: flex; margin-bottom: 0px;">
        <div style="text-align: left;">
          <img src="https://cdn-icons-png.flaticon.com/512/3178/3178158.png" style="width: 4%;">
          <p style="display: inline-block; margin-left: 10px; margin-bottom: 0px;">{{ user["email"] }}</p>
        </div>
        <p style="display: inline-block; margin-left: auto; margin-bottom: 0px;"><b>Age:</b> {{ user["age"] }}</p>
    </div>

    <hr class="add-margin">

    <div class="add-margin">
        <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png" align="left" style="width: 4%; height: 4%;">
        <p style="text-align: left; margin-left: 35px;">{{ user["phone"][0]["num"] }}</p>
    </div>

    <hr class="add-margin">

    <p class="add-margin" style="text-align: left;">
        <b>Shipping Address:</b> <br>
        {{ user["hno"] }}<br>
        {{ user["location"] }}<br>
        {{ user["state"]}}, {{ user["country"] }}<br>
    </p>

    <br>
    <h2 style="text-align: left;"><b>Your Active Orders</b></h1>
    <hr>

    {% if orders[0] == [] %}
        <p style="text-align: left;">No currently active orders. Your undelivered orders will be shown here.</p>
    {% else %}

    {% endif %}

    <br>
    <h2 style="text-align: left;"><b>Your Order History</b></h1>
    <hr>

    {% if orders[1] == [] %}
        <p style="text-align: left;">No history to show. Your past orders will be shown here.</p>
    {% else %}

    {% endif %}

    {% endblock %}
</body>