{% extends 'base.html' %}

<title>
    {% block title %}Cart{% endblock %}
</title>

<body>
    {% block main %}
        <h1 style="text-align: left;"><b>Your Cart</b></h1>
        <br>
        <!-- code to list items in cart as a table -->
        <table class="table table-striped table-hover table-bordered" style="text-align: left;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{item['n']}}</td>
                    <td>{{item['q']}}</td>
                    <td>{{item['pr']}}</td>
                    <td>{{ item['q']*item['pr'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <div style="text-align: right;">
            <h3>Total: ${{total}}</h3>
        </div>

    {% endblock %}
</body>