{% extends 'base.html' %}

<title>
    {% block title %}Cart{% endblock %}
</title>

<body>
    {% block main %}
        <h1 style="text-align: left;"><b>Your Cart</b></h1>
        <br>

        {% if cart|length == 0 %}
            <h4 style="text-align: left;">Your cart is empty.</h4>
        {% else %}
            <h4 style="text-align: left;">You have {{cart|length}} item(s) in your cart.</h4>
        
            <br>
            <!-- code to list items in cart as a table -->
            <table class="table table-striped table-hover table-bordered" style="text-align: left;" id="cartTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col" style="width: 20%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    <tr class="clickable-row">
                        <td>{{item['i']}}</td>
                        <td>{{item['n']}}</td>
                        <td>{{item['q']}}</td>
                        <td>{{item['pr']}}</td>
                        <td>{{ item['q']*item['pr'] }}</td>
                        <td style="text-align: center;">
                            <div style="align-content: center">
                                <div style="display: inline-flex; align-items: center;">
                                    <form action="/account/cart" method="POST">
                                        <input type="hidden" name="pid" value="{{item['i']}}">
                                        <input type="hidden" name="action" value="remove">
                                        <button type="submit" class="btn btn-danger" style="width: 85px">Remove</button>
                                    </form>
                                </div>
                                <div style="display: inline-flex">
                                    <form action="/account/cart" method="POST" style="text-align: right;">
                                        <input type="hidden" name="pid" value="{{item['i']}}">
                                        <input type="hidden" name="action" value="edit">
                                        <button type="submit" class="btn btn-success" style="width: 85px">Edit</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        

            <br>

            <div>
                <div style="text-align: left; display: inline-flex; width: 50%; align-items: center;">
                    <form action="/account/cart" method="POST">
                        <input type="hidden" name="action" value="clear">
                        <button type="submit" class="btn btn-danger">Clear Cart</button>
                    </form>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <form action="/account/cart" method="POST">
                        <input type="hidden" name="action" value="checkout">
                        <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
                    </form>
                </div>
                <div style="text-align: right; display: inline-flex; width: fit-content;">
                    <h3>Total: ${{"%.2f" % total}}</h3>
                </div>
            </div>

        {% endif %}

        

        <script>
            const pid = 0;
            const table = document.getElementById("cartTable");
            table.addEventListener("click", function(event) {
                const clickedElement = event.target;
                if (clickedElement.tagName === "TD") {
                const row = clickedElement.parentNode;
                const firstCell = row.querySelector("td:first-child");
                const pid = firstCell.textContent;
                console.log("Clicked row value: " + pid);
                window.location = "/product/".concat(pid.toString());
                }
            });

        </script>

    {% endblock %}
</body>