{% extends 'base.html' %}

<head>
    <title>
        {% block title %}Home{% endblock %}
    </title>
    <style>
        table {
            border-collapse: collapse;
            border: none;
        }
        td {
            border: 0px solid white;
            padding: 10px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    {% block main %}
    <h1>Welcome to ElectroBase Management System!</h1>
    <br>
    <table>
        <tr>
            <td><a href="search?q=laptop">
                <img src="https://i.rtings.com/assets/pages/6S2WXjTl/best-laptop-medium.jpg" alt="Laptops"><br>Laptops
            </a></td>
            <td><a href="search?q=smartphone">
                <img src="https://images.immediate.co.uk/production/volatile/sites/3/2022/05/Untitled-design-38-cccd4b7.png" alt="Smartphones"><br>Smartphones
            </a></td>
            <td><a href="search?q=tv">
                <img src="https://5.imimg.com/data5/KG/OR/OJ/SELLER-47616313/55-inch-smart-4k-led-tv-500x500.jpeg" alt="TVs"><br>TVs
            </a></td>
            <td><a href="search?q=camera">
                <img src="https://m.media-amazon.com/images/I/81vje3VMvuL._AC_SX466_.jpg" alt="Cameras"><br>Cameras
            </a></td>
        </tr>
    </table>
    <p>Browse our entire product catalogue <a href="search">here</a>.</p>

    <h2 style="text-align: left;">Why Choose ebms?</h2>
    <ul style="text-align: left;">
        <li>Competitive prices</li>
        <li>Wide range of products</li>
        <li>Easy returns and exchanges</li>
        <li>Free shipping on all orders over $50</li>
        <li>24/7 customer support</li>
    </ul>

    <h3 style="text-align: left;">About us</h2>
    <p dir="ltr" style="text-align: justify;">
        ElectroBase Management System is the ultimate destination for all your electronic needs.
        We're an online electronics retail store that specializes in providing a wide range of top-quality electronic devices and accessories to customers all over the world.
        Whether you're in the market for a new smartphone, a laptop for work or school, or the latest gaming console, we've got you covered.
        We offer a wide range of products including laptops, desktops, smartphones, TVs, cameras, and much more.
        <br>
        At ebms, we understand that shopping for electronics can be overwhelming, which is why we've made it our mission to create a user-friendly interface that makes the shopping experience easy and convenient for you.
        Our store is stocked with the latest and greatest gadgets from the top brands in the industry, and we're always on the lookout for the newest and most exciting products to add to our inventory.
        <br>
        We believe that shopping for electronics should be fun, which is why we offer a range of exclusive deals and competitive prices to help you get the best value for your money.
    </p>

    <h3 style="text-align: left;">Contact us</h2>
    <p dir="ltr" style="text-align: justify;">
        Contact us at <u>helpline@ebms.ac.in</u>. <br>
        +91 1234567890 <br>
        +91 0987654321 <br>
        Our customer support team is available 24/7 to answer any questions you may have.
    </p>
    {% endblock %}
</body>