{% extends 'base.html' %}

<head>
    <title>
        {% block title %}Home{% endblock %}
    </title>
</head>

<body>
    {% block main %}

    <table style="border: none; width: fit-content;">
        <tr>
            <td width="25%"><a href="catalogue?q=tv">
                <img src="https://5.imimg.com/data5/KG/OR/OJ/SELLER-47616313/55-inch-smart-4k-led-tv-500x500.jpeg" alt="TVs">
            </a></td>
            <td width="25%"><a href="catalogue?q=smartphone">
                <img src="https://images.immediate.co.uk/production/volatile/sites/3/2022/05/Untitled-design-38-cccd4b7.png" alt="Smartphones">
            </a></td>
            <td width="25%"><a href="catalogue?q=laptop">
                <img src="https://economictimes.indiatimes.com/thumb/msid-93723806,width-1024,height-683,resizemode-4,imgsize-13660/thumbnail-.jpg?from=mdr" alt="Laptops">
            </a></td>
            <td width="25%"><a href="catalogue?q=camera">
                <img src="https://m.media-amazon.com/images/I/81vje3VMvuL._AC_SX466_.jpg" alt="Cameras">
            </a></td>
        </tr>
        <tr>
            <td style="text-align: center;"><a href="catalogue?q=tv"><b>TVs</b></a>
            <td style="text-align: center;"><a href="catalogue?q=smartphone"><b>Smartphones</b></a>
            <td style="text-align: center;"><a href="catalogue?q=laptop"><b>Laptops</b></a>
            <td style="text-align: center;"><a href="catalogue?q=camera"><b>Cameras</b></a>
        </tr>
    </table>

    <br>
    <br>
    <p style="font-size: smaller; color:grey">Browse our entire product catalogue <a href="catalogue">here</a>.</p>
    <hr>

    <h2 style="text-align: left;"><b>About us</b></h2>
    <p dir="ltr" style="text-align: justify;">
        ElectroBase Management System is the ultimate destination for all your electronic needs.
        We're an online electronics retail store that specializes in providing a wide range of top-quality electronic devices and accessories to customers all over the world.
        Whether you're in the market for a new smartphone, a laptop for work or school, or the latest gaming console, we've got you covered.
        We offer a wide range of products including laptops, desktops, smartphones, TVs, cameras, and much more.
        <br>
        At ebms, we understand that shopping for electronics can be overwhelming, which is why we've made it our mission to create a user-friendly interface that makes the shopping experience easy and convenient for you.
        Our store is stocked with the latest and greatest gadgets from the top brands in the industry, and we're always on the lookout for the newest and most exciting products to add to our inventory.
        <br>
        We believe that shopping for electronics should be fun, which is why we offer a range of exclusive deals and competitive prices to help you get the best value for your money.
    </p>
    <br>
    <hr>
    <h3 style="text-align: left;"><b>Contact us</b></h3>
    <div style="display: flex; text-align: center;">
        <div style="text-align: left;">
            <img src="https://cdn-icons-png.flaticon.com/512/3178/3178158.png" style="width: 8%;">
            <u style="color: blue;"><a href="mailto:helpline@ebms.ac.in" style="margin-left: 2px;">helpline@ebms.ac.in</u></a>
        </div>
        <br>
        <div style="text-align: center;">
            <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png" style="width: 8%;">
            +91 1234567890
        </div>
        <br>
        <div style="text-align: right;">
            <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png" style="width: 8%;">
        +91 0987654321
        </div>
        <br>
    </p>
    <hr>
    {% endblock %}
</body>