{% extends 'base.html' %}

<head>
    <title>
        {% block title %}Home{% endblock %}
    </title>
</head>
<body>
    {% block main %}
    <h1><b>Product Catalogue</b></h1>
    <br>

    <div>
        <form id="form" role="search" action="{{ url_for('search') }}" method="GET">
            <div class="input-group" width="100%">
                <input type="search" id="query" name="q" aria-label="Search through site content" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <img src="{{ url_for('static', filename='img/search.svg') }}" alt="Search" width="20" height="20">
                    </button>
                </div>
            </div>
        </form>
    </div>

    <br>

    <!-- show the results of products in a table -->
    {% if rows == [] %}
    <p>No results found</p>
    {% else %}

    {% if request.args.get("q") not in [None, ""] %}
    <p>Showing results for "{{ request.args.get('q') }}"</p>
    {% endif %}
    <table class="table table-striped table-hover table-bordered" style="text-align: left;" id="dtBasicExample">
        <thead class="thead-dark">
            <tr>
                <th class="sorting">Product</th>
                <th class="sorting">Price</th>
                <th class="sorting">In Stock</th>
            </tr>
        </thead>

        {% for product in rows %}
        <tr>
            <td>{{ product[1] }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ "Yes" if product[2] > 0 else "No" }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <script src="{{ url_for('static', filename='js/datatables2.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    {% endblock %}
</body>