{% extends 'base.html' %}

<title>
    {% block title %}Customer Stats{% endblock %}
</title>

<body>
    {% block main %}

    <div class="card" style="margin-right: 0px !important;">
        <h1 style="font-size: 72px;"><b>{{ count }}+</b></h1>
        <h2><b>Customers</b></h2>
        <p>are using <b>EBMS</b> for their electronics needs.</p>
    </div>

    <br>
    <hr>
    <p style="color: gray; text-align: left;">Get the details of a specific customer.</p>
    <div>
        <form id="form" role="search" method="GET">
            <div class="input-group" width="100%">
                <input type="search" id="query" name="customerID" aria-label="Search through site content" class="form-control" placeholder="Customer ID...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <img src="{{ url_for('static', filename='img/search.svg') }}" alt="Search" width="20" height="20">
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% endblock %}
</body>