{% extends 'base.html' %}

<title>
    {% block title %}Supplier Stats{% endblock %}
</title>

<body>
    {% block main %}

    <div class="card" style="margin-right: 0px !important;">
        <h1 style="font-size: 72px;"><b>{{ context['count'] }}+</b></h1>
        <h2><b>Suppliers</b></h2>
        <p>are supplying products to the <b>EBMS</b> warehouse.</p>
    </div>

    <br>
    <hr>
    <p style="color: gray; text-align: left;">Get the details of a specific supplier.</p>
    <div>
        <form id="form" role="search" method="GET">
            <div class="input-group" width="100%">
                <input type="search" id="query" name="supplierID" aria-label="Search through site content" class="form-control" placeholder="Supplier ID...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <img src="{{ url_for('static', filename='img/search.svg') }}" alt="Search" width="20" height="20">
                    </button>
                </div>
            </div>
        </form>
    </div>

    <br>
    <hr>

    <h1><b>Top-Rated Suppliers</b></h1>

    Here is a summary of the suppliers having all their product ratings above 3
    <br>
    <br>

    <table class="table table-striped table-hover table-bordered" style="text-align: left;" id="searchTable">
        <thead class="thead-dark">
            <tr>
                <th>Supplier ID</th>
                <th>Supplier Name</th>
                <th>E-Mail Address</th>
                <th>Average Rating of all Products</th>
            </tr>
        </thead>

        {% for row in context['top_rated'] %}
        <tr>
            <td>{{ row['supplierID'] }}</td>
            <td>{{ row['name'] }}</td>
            <td>{{ row['email'] }}</td>
            <td>{{ row['avg_rating'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <hr>

    <h1><b>Inactive Suppliers</b></h1>

    Here's a list of suppliers who haven't supplied any products to ebms in the past term
    <br>
    <br>

    <table class="table table-striped table-hover table-bordered" style="text-align: left;" id="searchTable">
        <thead class="thead-dark">
            <tr>
                <th>Supplier ID</th>
                <th>Supplier Name</th>
                <th>E-Mail Address</th>
            </tr>
        </thead>

        {% for row in context['inactive'] %}
        <tr>
            <td>{{ row['supplierID'] }}</td>
            <td>{{ row['name'] }}</td>
            <td>{{ row['email'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <hr>

    <h1><b>Supplier Activity and Demographics</b></h1>
    Here is a detailed summary of demographics of the supplier activity on ebms

    <br>
    <br>

    <table class="table table-striped table-hover table-bordered" style="text-align: left;" id="searchTable">
        <thead class="thead-dark">
            <tr>
                <th>Country</th>
                <th>State</th>
                <th>Number of Suppliers</th>
                <th>Average Earning per Order</th>
                <th>Total Earning</th>
            </tr>
        </thead>

        {% for row in context['demographics'] %}
        {% if row['country'] != None and row['state'] != None %}
        <tr>
            <td>{{ row['country'] }}</td>
            <td>{{ row['state'] }}</td>
            <td>{{ row['supplier_count'] }}</td>
            <td>{{ row['avg_earned'] }}</td>
            <td>{{ row['total_earned'] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <table class="table table-striped table-hover table-bordered" style="text-align: left;" id="searchTable">
        <thead class="thead-dark">
            <tr>
                <th>Country</th>
                <th>Number of Suppliers</th>
                <th>Average Earning per Order</th>
                <th>Total Earning</th>
            </tr>
        </thead>

        {% for row in context['demographics'] %}
        {% if row['country'] != None and row['state'] == None %}
        <tr>
            <td>{{ row['country'] }}</td>
            <td>{{ row['supplier_count'] }}</td>
            <td>{{ row['avg_earned'] }}</td>
            <td>{{ row['total_earned'] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <table class="table table-striped table-hover table-bordered" style="text-align: left;" id="searchTable">
        <thead class="thead-dark">
            <tr>
                <th>Total Number of Active Suppliers</th>
                <th>Average Earning per Order</th>
                <th>Total Global Earning</th>
            </tr>
        </thead>

        {% for row in context['demographics'] %}
        {% if row['country'] == None and row['state'] == None %}
        <tr>
            <td>{{ row['supplier_count'] }}</td>
            <td>{{ row['avg_earned'] }}</td>
            <td>{{ row['total_earned'] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>


    {% endblock %}
</body>