{% extends 'base.html' %}

<title>
    {% block title %}Account{% endblock %}
</title>

<body>
    {% block main %}
    <img style="border-radius: 10px;" align="left"
    src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM="  width="300">

    <div class="add-margin" style="display: flex; margin-bottom: 0px;">
        <h1 style="text-align: left; white-space: nowrap; margin-bottom: 0px;"><b>{{ user["name"] }}</b></h1>
        <div style="margin-top: 8px; text-align: right; margin-bottom: 0px; border-radius: 100%;">
            <a href="/account/edit"><img class="hover-button" src="https://cdn-icons-png.flaticon.com/512/181/181540.png" style="width: 10%;"></a>
        </div>
    </div>

    <hr class="add-margin">

    <div class="add-margin" style="display: flex; margin-bottom: 0px;">
        <div style="text-align: left;">
          <img src="https://cdn-icons-png.flaticon.com/512/3178/3178158.png" style="width: 4%;">
          <p style="display: inline-block; margin-left: 10px; margin-bottom: 0px;">{{ user["email"] }}</p>
        </div>
        <p style="display: inline-block; margin-left: auto; margin-bottom: 0px;"><b>Age:</b> {{ user["age"] }}</p>
    </div>

    <hr class="add-margin">

    <div class="add-margin">
        <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png" align="left" style="width: 4%;">
        <p style="text-align: left; margin-left: 35px;">{{ user["phone"][0]["num"] }}</p>
    </div>

    <hr class="add-margin">

    <p class="add-margin" style="text-align: left;">
        <b>Shipping Address:</b> <br>
        {{ user["hno"] }}<br>
        {{ user["location"] }}<br>
        {{ user["state"]}}, {{ user["country"] }}<br>
    </p>

    <br>
    <h2 style="text-align: left;"><b>Your Active Orders</b></h1>
    <hr>

    {% if orders[0] == [] %}
        <p style="text-align: left;">No currently active orders. Your undelivered orders will be shown here.</p>
    {% else %}
        {% for order in ([orders[0][0]] if orders[0]|length == 1 else [orders[0][0], orders[0][1]]) %}
            <div class="card" style="margin-bottom: 15px;">
                <a class="card-link" href="/account/orders/{{ order['orderID'] }}?active=1">
                    <div style="display:flex; justify-content: space-between; align-items: center; margin-bottom: 0px;">
                        <h4 style="text-align: left; font-size: 20px; margin-bottom: 2px;"><b>Order Number: {{ order["orderID"] }}</b></h4>
                        <p style="text-align: right; margin-bottom: 4px;"><i>{{ order["order_date"] }}</i></p>
                    </div>
                    <p style="text-align: left; font-size: 14px; color: gray; margin-bottom: 8px;">Delivery Partner: {{ order["da_name"] }}</p>
                    <p style="text-align: left; font-size: 14px;">
                        This order was placed on {{ order["order_date"] }}. It is expected to be delivered by {{ order["ETA"] }}.
                    </p>
                    <div style="text-align: left; margin-bottom: 10px;">
                        <img src="https://cdn-icons-png.flaticon.com/512/3178/3178158.png" style="width: 2.75%; height: 2.75%;">
                        <p style="display: inline; margin-left: 10px;">
                            <u style="color: blue;"><a href="mailto:{{ order['da_email'] }}">{{ order["da_email"] }}</u></a>
                        </p>
                        <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png" style="width: 2.75%; height: 2.75%; margin-left: 25px;">
                        <p style="display: inline; margin-left: 10px;">{{ order["da_phone"] }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if orders[0] | length > 2 %}
            <br>
            <p style="text-align: right; margin-right: 10px;">
                <u style="color: blue;"><a href="/account/orders?active=1">See all >></u></a>
            </p>
        {% endif %}
    {% endif %}

    {% if orders[0] | length <= 2 %} <br> {% endif %}
    <h2 style="text-align: left;"><b>Your Order History</b></h1>
    <hr>

    {% if orders[1] == [] %}
        <p style="text-align: left;">No history to show. Your past orders will be shown here.</p>
    {% else %}
        {% for order in ([orders[1][0]] if orders[1]|length == 1 else [orders[1][0], orders[1][1]]) %}
            <div class="card" style="margin-bottom: 15px;">
                <a class="card-link" href="/account/orders/{{ order['orderID'] }}?active=0">
                    <div style="display:flex; justify-content: space-between; align-items: center; margin-bottom: 0px;">
                        <h4 style="text-align: left; font-size: 20px; margin-bottom: 2px;"><b>Order Number: {{ order["orderID"] }}</b></h4>
                        <p style="text-align: right; margin-bottom: 4px;"><i>{{ order["order_date"] }}</i></p>
                    </div>
                    <p style="text-align: left; font-size: 14px; color: gray; margin-bottom: 8px;">Delivery Partner: {{ order["da_name"] }}</p>
                    <p style="text-align: left; font-size: 14px;">
                        This order was placed on {{ order["order_date"] }}. It was delivered on {{ order["delivery_date"] }}.
                    </p>
                    <div style="text-align: left; margin-bottom: 10px;">
                        <img src="https://cdn-icons-png.flaticon.com/512/3178/3178158.png" style="width: 2.75%; height: 2.75%;">
                        <p style="display: inline; margin-left: 10px;">
                            <u style="color: blue;"><a href="mailto:{{ order['da_email'] }}">{{ order["da_email"] }}</u></a>
                        </p>
                        <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png" style="width: 2.75%; height: 2.75%; margin-left: 25px;">
                        <p style="display: inline; margin-left: 10px;">{{ order["da_phone"] }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if orders[0] | length > 2 %}
        <br>
        <p style="text-align: right; margin-right: 10px;">
            <u style="color: blue;"><a href="/account/orders?active=0">See all >></u></a>
        </p>
        {% endif %}
    {% endif %}

    {% endblock %}
</body>